.react-date-picker {
  display: inline-flex;
  position: relative;

  @media (max-width: 767.5px) {
    position: static !important;
  }
}

.react-date-picker,
.react-date-picker *,
.react-date-picker *:before,
.react-date-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-date-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid gray;
}

.react-date-picker__inputGroup {
  min-width: calc((4px * 3) + 0.54em * 8 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box;
}

.react-date-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-date-picker__inputGroup__divider,
.react-date-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-date-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-date-picker__inputGroup__input::-webkit-outer-spin-button,
.react-date-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-date-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-date-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-date-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;

  transition: all 250ms ease 0s;
}

.react-date-picker__button:enabled {
  cursor: pointer;

  transition: all 250ms ease 0s;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: #0078d7;
}

.react-date-picker__button:disabled .react-date-picker__button__icon {
  stroke: #6d6d6d;
}

.react-date-picker__button svg {
  display: inherit;
}

.react-date-picker__calendar {
  width: 350px;
  max-width: 100vw;
  z-index: 1;
  margin-top: 8px;

  @media (max-width: 767.5px) {
    inset: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}

.react-date-picker__calendar--closed {
  display: none;
}

.react-date-picker__calendar .react-calendar {
  border-width: thin;
}

.my-date-picker .react-date-picker__wrapper {
  height: 42px;
  border-radius: 8px;
  padding: 0px 14px;
  border-color: rgba(17, 17, 17, 0.15);
  color: rgb(17, 17, 17);
  transition: all 250ms ease 0s;
  font-family: InterSemiBolt;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(128.571%);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: calc(112.5%);
  }
}

.my-date-picker .react-date-picker__inputGroup {
  padding: 0;
  box-sizing: border-box;
}

.my-date-picker .react-date-picker__button {
  padding: 0;
}

.my-date-picker.my-date-picker--dark .react-date-picker__wrapper {
  border-color: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

.my-date-picker.my-date-picker--dark path {
  stroke: #ffffff;
}
